# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# FAISS
faiss_index/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
dist/
build/faiss_index/ 
*.pkl 
__pycache__/ 
.env 
